<h1 class="font-w-light primary-text-color">Bienvenido</h1>
<br>
<section fxLayout="column" fxLayout.gt-md="row">
  <div fxFlex="100" fxLayout="column">
    <md-card fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h5 class="font-w-light secondary-text-color">Arrendatarios Deudores</h5>
        </div>
      </div>
      <table class="table td-data-table">
          <thead>
              <th>#</th>
              <th>Nombre</th>
              <th>Fecha límite de cobro</th>
              <th><button md-raised-button color="accent" class="pull-right"><md-icon>attach_money</md-icon>&nbsp; Cobros</button></th>
          </thead>
          <tbody>
              <tr *ngFor="let user of arrendatariosDeudores">
                  <td>{{ user.id }}</td>
                  <td>{{ user.nombre }}</td>
                  <td>{{ user.fecha | date:'d/MMMM/y' }}</td>
                  <td><button md-raised-button color="primary" class="pull-right"><md-icon>attach_money</md-icon>&nbsp; Cobrar</button></td>
              </tr>
          </tbody>
      </table>
    </md-card>
    <md-card fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h5 class="font-w-light secondary-text-color">Pagos Pendientes</h5>
        </div>
      </div>
      <table class="table td-data-table">
          <thead>
              <th>#</th>
              <th>Nombre</th>
              <th>Fecha límite de pago</th>
              <th><button md-raised-button color="accent" class="pull-right"><md-icon>attach_money</md-icon>&nbsp; Pagos</button></th>
          </thead>
          <tbody>
              <tr *ngFor="let user of arrendatariosDeudores">
                  <td>{{ user.id }}</td>
                  <td>{{ user.nombre }}</td>
                  <td>{{ user.fecha | date:'d/MMMM/y' }}</td>
                  <td><button md-raised-button color="primary" class="pull-right"><md-icon>attach_money</md-icon>&nbsp; Pagar</button></td>
              </tr>
          </tbody>
      </table>
    </md-card>
    <md-card fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h5 class="font-w-light secondary-text-color">Ingresos a la fecha</h5>
        </div>
      </div>
       <div echarts [options]="areaChartOption" (chartInit)="chartInstances.push($event)" class="area-chart"></div>
    </md-card>
  </div>
</section>
<md-menu #menuAbove="mdMenu" xPosition="before" yPosition="below">
  <button md-menu-item *ngFor="let item of menuItems">
    {{ item.text }}
  </button>
</md-menu>
