<section class="building-section">
    <article>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-title">
                        Inmueble #{{ building.id }}
                        <div class="building-actions">
                            <button md-raised-button color="accent" (click)="rentBuilding(building)" *ngIf="building.rent_status == 1">Rentar</button>
                            <button md-raised-button color="primary" (click)="editBuilding(building)">Editar</button>
                            <button md-raised-button color="warn" (click)="deleteBuilding(building)">Eliminar</button>
                        </div>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title>Ficha técnica del inmueble</md-card-title>
                        <!-- <owl-carousel
                         [options]="{items: 3, dots: true, navigation: true}"
                         [carouselClasses]="['owl-theme', 'row', 'sliding']">
                             <div class="item">
                                 <div class="thumbnail-image" style="background: url('assets/photo-1462396240927-52058a6a84ec.jpg') no-repeat scroll center center / 600px 600px"></div>
                             </div>
                             <div class="item">
                                 <div class="thumbnail-image" style="background: url('assets/photo-1462396240927-52058a6a84ec.jpg') no-repeat scroll center center / 600px 600px"></div>
                             </div>
                             <div class="item">
                                 <div class="thumbnail-image" style="background: url('assets/photo-1462396240927-52058a6a84ec.jpg') no-repeat scroll center center / 600px 600px"></div>
                             </div>
                        </owl-carousel> -->
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap *ngIf="building.rent_status == 2">
            <div fxFlex="100">
                <md-card>
                    <md-card-title>Trámite de arrendamiento</md-card-title>
                    <td-steps #stepper [mode]="isScreenGtSm ? 'horizontal' : 'vertical'">
                        <td-step #step1 label="Información de contrato" sublabel="Captura de datos" [state]="stateStep1" [active]="activeStep1">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Arrendador" [mdAutocomplete]="auto" [formControl]="renterCtrl" [(ngModel)]="building.rent.renter_id">
                            </md-input-container>
                            <md-autocomplete #auto="mdAutocomplete">
                                <md-option *ngFor="let renter of filteredRenters | async" [value]="renter.id">
                                {{ renter.full_name }}
                                </md-option>
                            </md-autocomplete>
                            <md-input-container class="full-width">
                                <input mdInput type="number" placeholder="Plazo de renta (meses)" [(ngModel)]="building.rent.plazo_minimo">
                            </md-input-container>
                            <md-input-container class="full-width">
                                <input mdInput type="number" placeholder="Precio de renta ($)" [(ngModel)]="building.rent.precio_renta">
                            </md-input-container>
                            <md-input-container class="full-width">
                                <input mdInput type="date" placeholder="Fecha de inicio" [(ngModel)]="building.rent.fecha_inicio">
                            </md-input-container>
                            <ng-template td-step-actions>
                                <div>
                                    <button md-raised-button color="primary" (click)="contractGenerate()" class="text-upper">Guardar formulario</button>
                                </div>
                            </ng-template>
                        </td-step>
                        <td-step #step2 label="Contrato de arrendamiento" sublabel="Consulta de PDF" [state]="stateStep2" [disabled]="disabledStep2" [active]="activeStep2">
                            <ng-template td-step-actions>
                              <div>
                                <a md-raised-button [href]="building.rent.document_url" target="_blank" color="primary" class="text-upper">Ver documento generado</a>
                              </div>
                            </ng-template>
                        </td-step>
                        <td-step #step3 label="Cierre de trámite" sublabel="Carga de contrato firmado" [state]="stateStep3" [disabled]="disabledStep3" [active]="activeStep3">
                            <div fxLayout="row">
                                <md-input-container tdFileDrop
                                (click)="fileInput.inputElement.click()"
                                (keyup.enter)="fileInput.inputElement.click()"
                                (keyup.delete)="fileInput.clear()"
                                (keyup.backspace)="fileInput.clear()" fxFlex>
                                <input mdInput
                                    placeholder="Selecciona o suelta archivos"
                                    [value]="files?.length ? (files?.length + ' files') : files?.name"
                                    readonly/>
                                </md-input-container>
                                <button md-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
                                    <md-icon class="icon-color">cancel</md-icon>
                                </button>
                                <td-file-input class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files" multiple>
                                    <md-icon>folder</md-icon>
                                    <span class="text-upper">Buscar...</span>
                                </td-file-input>
                                <span>
                                    <button md-raised-button color="accent" [disabled]="!files" class="text-upper" (click)="uploadFiles()">Enviar</button>
                                </span>
                            </div>
                        </td-step>
                    </td-steps>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap *ngIf="building.rent_status == 3">
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-titile">Rentas</md-card-title>

                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-title">
                        Mantenimietos
                        <div class="building-actions">
                            <button md-raised-button color="primary" (click)="addTicket()">Crear mantenimiento</button>
                        </div>
                    </md-card-title>
                    <div *ngIf="dynamicTabs.length != 0">
                        <md-tab-group class="tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex">
                            <md-tab *ngFor="let tab of dynamicTabs; let i = index" #tab>
                                <ng-template mdTabLabel>{{ tab.label }}</ng-template>
                                <td-steps [mode]="isScreenGtSm ? 'horizontal' : 'vertical'">
                                    <td-step #step1 label="Datos del solicitante" sublabel="Identificación del solicitante" active="1">
                                        <md-input-container class="full-width">
                                            <input mdInput placeholder="Solicitante" [mdAutocomplete]="auto" [formControl]="renterCtrl">
                                        </md-input-container>
                                        <md-autocomplete #auto="mdAutocomplete">
                                            <md-option *ngFor="let renter of filteredRenters | async" [value]="renter.id">
                                            {{ renter.full_name }}
                                            </md-option>
                                        </md-autocomplete>
                                        <md-input-container class="full-width">
                                            <textarea mdInput placeholder="Detalles"></textarea>
                                        </md-input-container>
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="primary" (click)="goToStep(step1, step2)">Iniciar cotización</button>
                                        </div>
                                    </td-step>
                                    <td-step #step2 label="Cotización" sublabel="Consulta con proveedores" disabled="true">
                                        <md-input-container class="full-width">
                                            <input mdInput placeholder="Proveedor" [mdAutocomplete]="auto" [formControl]="renterCtrl">
                                        </md-input-container>
                                        <md-autocomplete #auto="mdAutocomplete">
                                            <md-option *ngFor="let renter of filteredRenters | async" [value]="renter.id">
                                            {{ renter.full_name }}
                                            </md-option>
                                        </md-autocomplete>
                                        <md-input-container class="full-width">
                                            <input type="number" mdInput placeholder="Cotización">
                                        </md-input-container>
                                        <md-input-container class="full-width">
                                            <input type="number" mdInput placeholder="Tiempo estimado (semanas)">
                                        </md-input-container>
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="warn" (click)="cancelarTicket(i)">Cancelar ticket</button>
                                            <button md-raised-button color="primary" (click)="goToStep(step2, step3)">Enviar cotización</button>
                                        </div>
                                    </td-step>
                                    <td-step #step3 label="Contaco a proveedor" sublabel="lorem ipsum" disabled="true">
                                        La cotización ha sido aceptada por el cliente.
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="warn" (click)="cancelarTicket(i)">Cancelar ticket</button>
                                            <button md-raised-button color="primary" (click)="goToStep(step3, step4)">Iniciar proceso</button>
                                        </div>
                                    </td-step>
                                    <td-step #step4 label="Estado del ticket" sublabel="Cambiar el estado del mantenimiento" disabled="true">
                                        <md-input-container class="full-width">
                                            <textarea mdInput placeholder="Observaciones"></textarea>
                                        </md-input-container>
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="warn" (click)="cancelarTicket(i)">Cancelar ticket</button>
                                            <button md-raised-button color="primary" (click)="finishTicket(i)">Cerrar ticket</button>
                                        </div>
                                    </td-step>
                                </td-steps>
                                <br>
                            </md-tab>
                        </md-tab-group>
                    </div>
                    <div *ngIf="dynamicTabs.length == 0">
                        NO HAY TICKETS ACTIVOS EN ESTE INMUEBLE
                    </div>
                </md-card>
            </div>
        </div>
    </article>
</section>
