<section class="building-section">
    <article>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-title">
                        Inmueble #{{ building.id }}
                        <div class="building-actions">
                            <button md-raised-button color="accent" (click)="rentBuilding(building)">Rentar</button>
                            <button md-raised-button color="primary" (click)="editBuilding(building)">Editar</button>
                            <button md-raised-button color="warn" (click)="deleteBuilding(building)">Eliminar</button>
                        </div>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100" fxFlex.gt-sm="70" fxFlex.gt-md="70">
                <md-card>
                    <md-card-title>Ficha técnica del inmueble</md-card-title>
                </md-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="30">
                <md-card>
                        <md-card-title>Manteniminetos</md-card-title>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title>Rentas</md-card-title>


                </md-card>
            </div>
        </div>
    </article>
</section>
