<section class="building-section">
    <article>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-title">
                        Inmueble #{{ building.id }}
                        <div class="building-actions">
                            <!-- <button md-raised-button color="accent" (click)="rentBuilding(building)" *ngIf="building.is_rented == false">Rentar</button> -->
                            <button md-raised-button color="primary" (click)="editBuilding(building)">Editar</button>
                            <button md-raised-button color="warn" (click)="deleteBuilding(building)">Eliminar</button>
                        </div>
                    </md-card-title>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title>Ficha técnica del inmueble</md-card-title>
                    <ngx-carousel
                    [inputs]="carouselOne"
                    (carouselLoad)="myfunc($event)">

                        <ngx-tile NgxCarouselItem *ngFor="let image of building.images">
                            <img [src]="'http://adminespora.janori.com/' + image.path" alt="">
                        </ngx-tile>

                        <button NgxCarouselPrev class='leftRs'>&lt;</button>
                        <button NgxCarouselNext class='rightRs'>&gt;</button>
                    </ngx-carousel>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap *ngIf="renterCtrl != null">
            <div fxFlex="100">
                <md-card>
                    <md-card-title>Trámite de arrendamiento</md-card-title>
                    <td-steps #stepper [mode]="isScreenGtSm ? 'horizontal' : 'vertical'">
                        <td-step #step1 label="Información de contrato" sublabel="Captura de datos" [state]="stateStep1" [active]="activeStep1">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Arrendador" [mdAutocomplete]="auto" [formControl]="renterCtrl" [(ngModel)]="building.rent.renter">
                            </md-input-container>
                            <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayRenter">
                                <md-option *ngFor="let renter of filteredRenters" [value]="renter">
                                {{ renter.full_name }}
                                </md-option>
                            </md-autocomplete>
                            <md-input-container class="full-width">
                                <input *ngIf="building.is_rented == false" mdInput type="number" placeholder="Plazo de renta (meses)" [(ngModel)]="building.rent.rent_period">
                                <input *ngIf="building.is_rented == true" [disabled]="true" mdInput type="number" placeholder="Plazo de renta (meses)" [value]="building.rent.rent_period">
                            </md-input-container>
                            <md-input-container class="full-width">
                                <input *ngIf="building.is_rented == false" mdInput type="number" placeholder="Precio de renta ($)" [(ngModel)]="building.rent.price">
                                <input *ngIf="building.is_rented == true" [disabled]="true" mdInput type="number" placeholder="Precio de renta ($)" [(ngModel)]="building.rent.price">
                            </md-input-container>
                            <md-input-container class="full-width">
                                <input mdInput [mdDatepicker]="picker3" placeholder="Fecha de inicio" [(ngModel)]="building.rent.start_date">
                                <md-datepicker-toggle mdSuffix [for]="picker3"></md-datepicker-toggle>
                                <md-datepicker #picker3></md-datepicker>
                            </md-input-container>
                            <ng-template td-step-actions>
                                <div>
                                    <button md-raised-button color="primary" (click)="contractGenerate()" class="text-upper">Guardar formulario</button>
                                </div>
                            </ng-template>
                        </td-step>
                        <td-step #step2 label="Contrato de arrendamiento" sublabel="Consulta de PDF" [state]="stateStep2" [disabled]="disabledStep2" [active]="activeStep2">
                            <ng-template td-step-actions>
                              <div>
                                <a md-raised-button [href]="building.rent.document_url" target="_blank" color="primary" class="text-upper">Ver documento generado</a>
                              </div>
                            </ng-template>
                        </td-step>
                        <td-step #step3 label="Cierre de trámite" sublabel="Carga de contrato firmado" [state]="stateStep3" [disabled]="disabledStep3" [active]="activeStep3">

                            <md-checkbox [(ngModel)]="isRentFacturable">¿Facturar?</md-checkbox>
                            <div  *ngIf="stateStep3 == 'complete'">
                              <button md-raised-button (click)="downloadFile()">
                                <i *ngIf="isDownloading == true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                <md-icon *ngIf="isDownloading == false">cloud_download</md-icon>
                                <span class="text-upper">Ver documento cargado.</span>
                              </button>
                            </div>
                            <div *ngIf="!(stateStep3 == 'complete')">
                              <md-input-container tdFileDrop
                              (click)="fileInput.inputElement.click()"
                              (keyup.enter)="fileInput.inputElement.click()"
                              (keyup.delete)="fileInput.clear()"
                              (keyup.backspace)="fileInput.clear()" fxFlex>
                              <input mdInput
                                  placeholder="Selecciona o suelta archivos"
                                  [value]="files?.length ? (files?.length + ' files') : files?.name"
                                  readonly/>
                              </md-input-container>
                              <button md-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
                                  <md-icon class="icon-color">cancel</md-icon>
                              </button>
                              <td-file-input class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files" multiple>
                                  <md-icon>folder</md-icon>
                                  <span class="text-upper">Buscar...</span>
                              </td-file-input>
                              <span>
                                  <button md-raised-button color="accent" [disabled]="!files" class="text-upper" (click)="uploadFiles(isRentFacturable)">Enviar</button>
                              </span>
                            </div>
                        </td-step>
                    </td-steps>
                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap *ngIf="false">
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-titile">Rentas</md-card-title>

                </md-card>
            </div>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap>
            <div fxFlex="100">
                <md-card>
                    <md-card-title class="building-title">
                        Mantenimietos
                        <div class="building-actions">
                            <button md-raised-button color="primary" (click)="addTicket()">Crear mantenimiento</button>
                        </div>
                    </md-card-title>
                    <div *ngIf="dynamicTabs.length != 0">
                        <md-tab-group class="tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex">
                            <md-tab *ngFor="let tab of dynamicTabs; let i = index">
                                <ng-template mdTabLabel>{{ tab.label }}</ng-template>
                                <td-steps [mode]="isScreenGtSm ? 'horizontal' : 'vertical'">
                                    <td-step #stepT1 label="Datos del solicitante" sublabel="Identificación del solicitante"
                                            [state]="tab.state[0].state" [disabled]="tab.state[0].disabled" [active]="tab.state[0].active">
                                        <md-input-container class="full-width">
                                            <input mdInput placeholder="Solicitante" [mdAutocomplete]="reqAuto" [formControl]="requesterCtrl" [(ngModel)]="tab.data.requester">
                                        </md-input-container>
                                        <md-autocomplete #reqAuto="mdAutocomplete" [displayWith]="displayRenter">
                                            <md-option *ngFor="let requester of filteredRenters" [value]="requester">
                                            {{ requester.full_name }}
                                            </md-option>
                                        </md-autocomplete>
                                        <md-input-container class="full-width">
                                            <textarea mdInput [(ngModel)]="tab.data.data" placeholder="Detalles"></textarea>
                                        </md-input-container>

                                        <md-checkbox [(ngModel)]="tab.data.facturable">¿Facturar?</md-checkbox>
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="primary" (click)="startTicket(stepT1, stepT2, tab.data)">Iniciar cotización</button>
                                        </div>
                                    </td-step>
                                    <td-step #stepT2 label="Cotización" sublabel="Consulta con proveedores" disabled="true"
                                            [state]="tab.state[1].state" [disabled]="tab.state[1].disabled" [active]="tab.state[1].active">
                                        <md-input-container class="full-width">
                                            <input mdInput placeholder="Proveedor" [mdAutocomplete]="provAuto" [(ngModel)]="tab.data.provider"
                                                   (ngModelChange)="filterProviders($event)">
                                        </md-input-container>
                                        <md-autocomplete #provAuto="mdAutocomplete" [displayWith]="displayRenter" >
                                            <md-option *ngFor="let provider of filteredProviders" [value]="provider">
                                            {{ provider.full_name }}
                                            </md-option>
                                        </md-autocomplete>
                                        <md-input-container class="full-width">
                                            <input type="number" mdInput placeholder="Cotización" [(ngModel)]="tab.data.provider_cost">
                                        </md-input-container>
                                        <md-input-container class="full-width">
                                            <input type="number" mdInput placeholder="Precio final" [(ngModel)]="tab.data.price">
                                        </md-input-container>
                                        <md-input-container *ngIf="!tab.data.estimated_date" class="full-width">
                                            <input type="number" mdInput [(ngModel)]="tab.data.estimated_weeks" placeholder="Tiempo estimado (semanas)">
                                        </md-input-container>
                                        <span class="full-width" *ngIf="tab.data.estimated_date"><b>Fecha estimada de finalización:</b> {{ tab.data.estimated_date|date:'yyyy-MM-dd' }}</span>
                                        <br/>
                                        <br/>
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="warn" (click)="cancelarTicket(i)">Cancelar ticket</button>
                                            <button md-raised-button color="primary" (click)="sendTicket(stepT2, stepT3, tab.data)">Enviar cotización</button>
                                        </div>
                                    </td-step>
                                    <td-step #stepT3 label="Contacto a proveedor" disabled="true"
                                            [state]="tab.state[2].state" [disabled]="tab.state[2].disabled" [active]="tab.state[2].active">
                                            <br>
                                            <div [ngSwitch]="tab.data.status">
                                              <div *ngSwitchCase="'r'">La cotización ha sido rechazada por el cliente.</div>
                                              <div *ngSwitchCase="'c'">Esperando respuesta por parte del cliente.</div>
                                              <div *ngSwitchCase="'v'">La cotización ha sido aceptada por el cliente.</div>
                                              <div *ngSwitchDefault>La cotización ha sido aceptada por el cliente</div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                        <div class="stepper-buttons">
                                            <button *ngIf="tab.data.status == 'r'" md-raised-button color="warn" (click)="finishTicket(i)">Cerrar ticket</button>
                                            <button *ngIf="tab.data.status == 'v'" md-raised-button color="warn" (click)="cancelarTicket(i)">Cancelar ticket</button>
                                            <button *ngIf="tab.data.status == 'v'" md-raised-button color="primary" (click)="goToStep(stepT3, stepT4)">Iniciar proceso</button>
                                        </div>
                                    </td-step>
                                    <td-step #stepT4 label="Estado del ticket" sublabel="Cambiar el estado del mantenimiento"
                                            [state]="tab.state[3].state" [disabled]="tab.state[3].disabled || tab.data.status == 'r'" [active]="tab.state[3].active">
                                        <md-input-container class="full-width">
                                            <textarea mdInput placeholder="Observaciones" [(ngModel)]="tab.data.extra"></textarea>
                                        </md-input-container>
                                        <div class="stepper-buttons">
                                            <button md-raised-button color="warn" (click)="cancelarTicket(i)">Cancelar ticket</button>
                                            <button md-raised-button color="primary" (click)="finishTicket(i, 'f')">Cerrar ticket</button>
                                        </div>
                                    </td-step>
                                </td-steps>
                                <br>
                            </md-tab>
                        </md-tab-group>
                    </div>
                    <div *ngIf="dynamicTabs.length == 0">
                        NO HAY TICKETS ACTIVOS EN ESTE INMUEBLE
                    </div>
                </md-card>
            </div>
        </div>
    </article>
</section>
