/deep/ {
  .dialog-example-buttons {
    justify-content: flex-end;
  }
  .mat-tab-header {
      margin-bottom: 15px;
  }

}

.mat-accent#md-checkbox-1 {
    display: table;
}

.mat-tab-header {
    margin-bottom: 15px;
}

.dropzone {
    min-height: 150px;
    min-width: 250px;
    max-width: 100%;
    display: table;
    margin: 0 auto;
    width: 90%;
    background-color: #eee;
    border: dotted 5px #aaa;
    margin-bottom: 20px;

    .centered {
        text-align: center;
    }
}


md-grid-tile {
    border-style: dashed;
    border-width: 1px;
    height: 100px !important;

    img {
        max-width: 100%;
        &:hover {
            opacity: .5;
        }
    }
}
