<h4 md-dialog-title>Detalles de Proveedor - {{ data.provider.full_name }}</h4>
<div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Nombre" [(ngModel)]="data.provider.name">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Apellido Paterno" [(ngModel)]="data.provider.first_surname">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Apellido Materno" [(ngModel)]="data.provider.last_surname">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Dirección" [(ngModel)]="data.provider.address">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Teléfono" [(ngModel)]="data.provider.phone">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Celular" [(ngModel)]="data.provider.cellphone">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="RFC" [(ngModel)]="data.provider.rfc">
    </md-input-container>
</div>
<div md-dialog-actions class="dialog-example-buttons">
  <button md-button (click)="dialogRef.close(false)" color="warn">Cancelar</button>
  <button md-button (click)="dialogRef.close(data.provider)" color="primary">Aceptar</button>
</div>
