<h4 md-dialog-title>Detalles de Propietario - {{ data.owner.full_name }}</h4>
<div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Nombre" [(ngModel)]="data.owner.name">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Apellido Paterno" [(ngModel)]="data.owner.first_surname">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Apellido Materno" [(ngModel)]="data.owner.last_surname">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Dirección" [(ngModel)]="data.owner.address">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Teléfono" [(ngModel)]="data.owner.phone">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Celular" [(ngModel)]="data.owner.cellphone">
    </md-input-container>
</div>
<div md-dialog-actions class="dialog-example-buttons">
  <button md-button (click)="dialogRef.close(false)" color="warn">Cancelar</button>
  <button md-button (click)="dialogRef.close(data.owner)" color="primary">Aceptar</button>
</div>
