<md-sidenav-container>
  <md-sidenav #sidenav [mode]="sidenavMode" opened="false" class="left-sidenav"
              (open)="resizeService.resizeInformer$.next()" (close)="resizeService.resizeInformer$.next()">
    <header class="sidenav-header" fxLayout="row" fxLayoutAlign="space-between center">
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>arrow_back</md-icon>
      </button>
      <div fxFlex class="text-center pad-right-xl">
        <a href="/">
          <img *ngIf="darkTheme; else darkLogo" src="assets/logo/logo-text-white.png">
          <ng-template #darkLogo>
            <img src="assets/logo/logo-text-black.png">
          </ng-template>
        </a>
      </div>
    </header>
    <perfect-scrollbar class="perfect-scrollbar">
      <px-gdn-sidemenu>
        <px-gdn-sideitem title="Inicio" [routerLinkUrl]="'/'">
          <md-icon>home</md-icon>
        </px-gdn-sideitem>
        <px-gdn-sideitem title="Usuarios" [routerLinkUrl]="'/usuarios'">
            <md-icon>people</md-icon>
        </px-gdn-sideitem>
        <px-gdn-sideitem title="Propietarios" [routerLinkUrl]="'/propietarios'">
          <md-icon>recent_actors</md-icon>
        </px-gdn-sideitem>
        <px-gdn-sideitem title="Inmuebles" [routerLinkUrl]="'/inmuebles'">
          <md-icon>location_city</md-icon>
        </px-gdn-sideitem>
        <px-gdn-sideitem title="Arrendatarios" [routerLinkUrl]="'/arrendatarios'">
          <md-icon>hotel</md-icon>
        </px-gdn-sideitem>
        <px-gdn-sideitem title="Proveedores" [routerLinkUrl]="'/proveedores'">
          <md-icon>local_shipping</md-icon>
        </px-gdn-sideitem>
      </px-gdn-sidemenu>
    </perfect-scrollbar>
    <footer class="secondary-text-color">
      <md-divider></md-divider>
      <p>Developed by IT Networks 2017 © All Rights Reserved</p>
    </footer>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <a fxHide="true" fxHide.gt-sm="false" href="/" class="logo">
      <img src="assets/logo/logo-text-white.png">
    </a>
    <!--<span fxHide="true" fxHide.gt-sm="false">Application</span>-->
    <span fxFlex></span>
    <button md-icon-button (click)="optionsnav.toggle()">
      <td-notification-count>
        <md-icon>whatshot</md-icon>
      </td-notification-count>
    </button>
    <img src="assets/avatars/4040.png" class="cursor-pointer push-left-sm" [mdMenuTriggerFor]="userMenu">
    <md-menu #userMenu="mdMenu">
      <md-list>
        <md-list-item>
          <img md-list-avatar src="assets/avatars/4040.png">
          <h4 mdLine> {{ user.name }} </h4>
          <p mdLine>
            <span>{{ user.kind }}</span>
          </p>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
      <md-nav-list>
        <a md-list-item disabled>
          <h4 mdLine>Cambiar contraseña</h4>
        </a>
        <a md-list-item (click)="doLogout()">
          <h4 mdLine>Salir</h4>
        </a>
      </md-nav-list>
    </md-menu>
  </md-toolbar>
  <div class="wrapper" [class.wrapper-box]="boxedLayout">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
<md-sidenav #optionsnav mode="over" align="end">
    <md-toolbar color="primary">
        <h5>Acciones rápidas</h5>
        <span fxFlex></span>
        <button md-icon-button (click)="optionsnav.close()">
            <md-icon>close</md-icon>
        </button>
    </md-toolbar>
    <button md-raised-button class="quick-button" *ngFor="let action of quickActions" (click)="clickHandler()" color="primary">
        <p class="quick-text">
            {{ action.text }}
            <button md-mini-fab color="default">
              <md-icon>{{ action.icon }}</md-icon>
            </button>
        </p>
    </button>
</md-sidenav>
