<h4 md-dialog-title>Detalles de Usuario - {{ data.user.full_name }}</h4>
<div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Usuario" [(ngModel)]="data.user.username">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Contraseña" [(ngModel)]="data.user.password" type="password">
    </md-input-container>
    <md-input-container class="full-width">
        <input type="email" mdInput placeholder="Correo electrónico" [(ngModel)]="data.user.email">
    </md-input-container>
    <md-input-container class="full-width">
      <input mdInput placeholder="Nombre Completo" [(ngModel)]="data.user.full_name">
    </md-input-container>
    <md-select placeholder="Rol del usuario" [(ngModel)]="data.user.role_id" class="full-width">
        <md-option *ngFor="let role of roles" [value]="role.id">{{ role.description }}</md-option>
    </md-select>
</div>
<div md-dialog-actions class="dialog-example-buttons">
  <button md-button (click)="dialogRef.close(false)" color="warn">Cancelar</button>
  <button md-button (click)="dialogRef.close(data.user)" color="primary">Aceptar</button>
</div>
